@import "tailwindcss";

:root {
  --background: #fffdfa;
  --foreground: #171717;
  --primary-color: #416bb5;
  --bg-color: ##fffdfa;
  --bg-color-2: #f0ede8;
  --secondary-color: #bbd5f0;
  --text-title: #cf1031;
  --tertiary-color: #8d7fba;
  --color-white: #fffefb;
  ;
}


/* @theme inline {
   --color-background: var(--background);
  --color-foreground: var(--foreground); 
  --font-sans-serif: var(--font-geist-mono);
  /* --font-mono: var(--font-geist-mono); 
  }
  */



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@font-face {
  font-family: "Libre Caslon Condensed", serif;
  src: url('/fonts/serif/LibreCaslonCondensed.ttf') format('truetype');
  font-weight: 100 900;
 

}

@font-face {
  font-family: 'Archivo';
  src: url('/public/fonts/sans-serif-6/Archivo-VariableFont.ttf') format('truetype');
  /* Specify the supported range using two numbers separated by a space */
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
}

@theme {
  --primary-color: var(--primary-color);
  --bg-color: var(--bg-color);
  --secondary-color: var(--secondary-color);
  --text-title: var(--text-title);
  --tertiary-color: var(--tertiary-color);
  --col-white: var(--color-white);
/* Configurazione Font */
  --font-serif: "Libre Caslon Condensed", serif;
  --font-sans-serif: "Archivo", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);

}